* {
	font-family: 'Quicksand', sans-serif;
	margin:5px;
	text-align: center;
	background-color: #fefefe;
}

ul {
	list-style-type: none;
}

#mainNavigation li{
	display:inline;
}

button {
	border:1px dashed black;
	background-color: #ccccff;;
	font-size: 16px;
	padding:10px;
}

table {
	margin:auto;
}

#mainNavigation {
	border: 2px dashed black;
	background-color: #ccccff;
}

.master-container {
	border:2px solid #ccccff;;

}

